
utilities/__pycache__/__init__.cpython-313.pyc
utilities/reader_tools/__pycache__/__init__.cpython-313.pyc
datascience_course.egg-info/PKG-INFO
utilities/reader_tools/__pycache__/GenericCSVReader.cpython-313.pyc
utilities/reader_tools/__pycache__/GenericReader.cpython-313.pyc
datascience_course.egg-info/top_level.txt
datascience_course.egg-info/SOURCES.txt
datascience_course.egg-info/requires.txt
datascience_course.egg-info/dependency_links.txt
utilities/datascience_course.egg-info/dependency_links.txt
utilities/datascience_course.egg-info/PKG-INFO
utilities/datascience_course.egg-info/SOURCES.txt
utilities/datascience_course.egg-info/requires.txt
utilities/datascience_course.egg-info/top_level.txt
